# Public and School Holidays for Schleswig Holstein 2013-2019
data directory contains now two more files
- official_holidays.csv
- school_holidays.csv

In [4]:
# read both csv files and display their shape
import pandas as pd
df_official_holidays = pd.read_csv("../data/official_holidays.csv")
df_school_holidays = pd.read_csv("../data/school_holidays.csv")

#display heads and shapes
print(df_official_holidays.shape)
display(df_official_holidays.head())
print(df_school_holidays.shape)
display(df_school_holidays.head())

(66, 3)

   Year    Holiday Name        Date
0  2013  New Year's Day  2013-01-01
1  2013     Good Friday  2013-03-29
2  2013   Easter Monday  2013-04-01
3  2013       Labor Day  2013-05-01
4  2013   Ascension Day  2013-05-09

(35, 4)

   Year          Holiday Name  Start Date    End Date
0  2013       Easter Holidays  2013-03-25  2013-04-09
1  2013  Ascension Bridge Day  2013-05-10  2013-05-10
2  2013       Summer Holidays  2013-06-24  2013-08-03
3  2013       Autumn Holidays  2013-10-04  2013-10-18
4  2013    Christmas Holidays  2013-12-23  2014-01-06

In [ ]:
# produce dataframe with all dates from 2013-01-01 to 2019-12-31

date_range = pd.date_range(start='2013-01-01', end='2019-12-31', freq='D')
df_holidays = pd.DataFrame({'date': date_range})

# Initialize columns with 0
df_holidays['public_holiday'] = 0
df_holidays['school_holiday'] = 0

# Process Public Holidays
# Ensure the date column in official holidays is datetime
df_official_holidays['Date'] = pd.to_datetime(df_official_holidays['Date'])
# Mark dates present in official holidays as 1
df_holidays.loc[df_holidays['date'].isin(df_official_holidays['Date']), 'public_holiday'] = 1

# Process School Holidays
# Ensure start and end dates are datetime
df_school_holidays['Start Date'] = pd.to_datetime(df_school_holidays['Start Date'])
df_school_holidays['End Date'] = pd.to_datetime(df_school_holidays['End Date'])

# Iterate through school holiday ranges and mark them
for _, row in df_school_holidays.iterrows():
    mask = (df_holidays['date'] >= row['Start Date']) & (df_holidays['date'] <= row['End Date'])
    df_holidays.loc[mask, 'school_holiday'] = 1

# Display the result
print(df_holidays.shape)
display(df_holidays.head())
display(df_holidays.tail())

(2556, 3)

        date  public_holiday  school_holiday
0 2013-01-01               1               0
1 2013-01-02               0               0
2 2013-01-03               0               0
3 2013-01-04               0               0
4 2013-01-05               0               0

In [13]:
# write to csv
df_holidays.to_csv("../data/processed/df_holidays.csv", index=False)